header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
}

nav{
  margin: 0;
  padding: 0.5em;
  list-style: none;
  font-weight: 400;
  margin-left: 2em;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(2, 2, 95);
}
nav a.active {
    font-weight: bold;
}
nav a:hover {
    color: rgb(3, 3, 219);
}